<header>
    <nav>
    <h1>BRITO RUNNING</h1>
    <ul>
        <li><a href="/">Início</a> </li>
        <li><a href="/galeria">Galeria</a> </li>
        <li><a href="/calculadora">Calculadora</a> </li>
        <li><a href="/sobre">Sobre mim</a> </li>
    </ul>
</nav>

</header>