<!DOCTYPE html>
<html>
<head>
    <script src="app.js"></script>
    <meta charset="UTF-8" lang="en">
    <link rel="stylesheet" type="text/css" href="assets/styles/height-width.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/backgrounds-color.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/colors.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/margins.css">
    <title>Brito |Corredor de rua</title>
</head>