<header>
    <nav>
    <h1>BRITO RUNNING</h1>
    <ul>
        <li><a href="/">Início</a> </li>
        <li><a href="/galeria">Galeria</a> </li>
        <li><a href="/patrocinadores">Patrocinadores</a> </li>
        <li><a href="/sobre">Sobre mim</a> </li>
    </ul>
</nav>
<style>
    #second-picture{
display: none;
width: 47%;
}
.second-picture{
width: 110%;
}
</style>
</header>