<%- include ('../partials/head') %>
<%- include ('../partials/header') %>

<div class="container">
    <script src="calculadora.js"></script>
    <!---formulario para calculadora de pace-->
    <form onload="calculadora()">
        <div class="title">
            <h1>Calculadora de ritmo</h1>
        </div>
        <div class="form-calculo">
        <label for="km">Quilômetros</label>
        <input type="number" id="distancia-km" name="km"> <br>
        <label for="metros">Metros</label>
        <input type="number" id="distancia-metros" name="metros"><br>
        <label for="ritmo">Ritmo</label>
        <select id="pace_corrida" name="pace_corrida"><br>
            
        </select> <br>
<button type="submit" onclick="calcularTempo()">Calcular</button></div>


        

    </form>
</div>

</body>
<%- include ('../partials/footer') %>