<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<body>
    <div class="container-pictures">

            <img class="pic-one" src="assets/guerreiro_1.jpg">
        

            <img class="pic-one" src="assets/piracicaba_1.jpg">
            <img class="pic-one" src="assets/guerreiro_2.jpg">
            <img class="pic-one" src="assets/tivoli.jpg">
            <img class="pic-one" src="assets/guerreiro24d750_barbarini_03_407.jpg">
            <img class="pic-one" src="assets/5017_img_0941.jpg">
            <!-- horizontais -->
            <img class="pic-one" src="assets/corrida-endorfina run.jpg">
            <img class="pic-one" src="assets/nova_odessa_running_2023.jpg">
            <img class="pic-one" src="assets/desguer2024_140124foconoesporte_1483.jpg">
            <img class="pic-one" src="assets/nova_odessa_running_2023_2.jpg">
            <img class="pic-one" src="assets/cover.jpg">
            <img class="pic-one" src="assets/cover_piracicaba.jpg">
            <img class="pic-one" src="assets/cover.jpg">
            <img class="pic-one" src="assets/cover_americana.jpg">
            <img class="pic-one" src="assets/115_marcuskuhl_00486.jpg">
            <img class="pic-one" src="assets/5929_xp-1215.jpg">
            <img class="pic-one" src="assets/5929_uacainr_281023foconoesporte_921.jpg">
            <img class="pic-one" src="assets/216_img_0239.jpg">
        

 
</body>
<%- include ('../partials/footer') %>