<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<body>
    <div class="container">
        <!-- DIV PPARA SOBRE MIM -->
        <div class="sobre-mim">
        <h1 class="title">SOBRE</h1>
        <div class="conteudo">
            <h4 class="texto">

            <p>Acesse o Instagram:  </p>
            <p>Acesse o Youtube: </p>
            <p>Acesse o Tiktok: </p>
            <p>Acesse o Facebook: </p>
            </h4>
        </div>
        <div class="picture">
            <img src="assets/minhafoto3x4.png">
        </div>
        
        
    </div>
    </div>
</body>
<%- include ('../partials/footer') %>